@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8f7thi');
  src:  url('fonts/icomoon.eot?8f7thi#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8f7thi') format('truetype'),
    url('fonts/icomoon.woff?8f7thi') format('woff'),
    url('fonts/icomoon.svg?8f7thi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CRT_Icons-01:before {
  content: "\e906";
}
.icon-CRT_Icons-02:before {
  content: "\e907";
}
.icon-CRT_Icons-03:before {
  content: "\e908";
}
.icon-CRT_Icons-04:before {
  content: "\e909";
}
.icon-logo .path1:before {
  content: "\e900";
  color: rgb(0, 130, 146);
}
.icon-logo .path2:before {
  content: "\e901";
  margin-left: -1.052734375em;
  color: rgb(0, 130, 146);
}
.icon-logo .path3:before {
  content: "\e902";
  margin-left: -1.052734375em;
  color: rgb(0, 130, 146);
}
.icon-logo .path4:before {
  content: "\e903";
  margin-left: -1.052734375em;
  color: rgb(0, 130, 146);
}
.icon-logo .path5:before {
  content: "\e904";
  margin-left: -1.052734375em;
  color: rgb(0, 130, 146);
}
.icon-logo .path6:before {
  content: "\e905";
  margin-left: -1.052734375em;
  color: rgb(188, 214, 62);
}

