/**
 CHRT base definitions
 */

$primary_font: "Sentinel A", "Sentinel B", 'Times New Roman', serif;
$secondary_font: Arial, sans-serif;

$primary_color: #63513D;
$highlight_color: #DBE442;
$secondary_highlight: #B7BF10;

$tert_1: #B7A99A;
$tert_2: #00274C;
$tert_3: #006272;
$tert_4: #789F90;
$tert_5: #9E2A2B;
$tert_6: #B7312C;
$tert_7: #000;

%image_overlay {
  filter: none;
}

%link_highlight {
  color: $primary_color;
  border: none;
  border-bottom: 3px solid $highlight_color;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 $highlight_color;
  background: transparent;
  -webkit-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -moz-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -ms-transition: background .15s cubic-bezier(.33,.66,.66,1);
  -o-transition: background .15s cubic-bezier(.33,.66,.66,1);
  transition: background .15s cubic-bezier(.33,.66,.66,1);
}

%link_highlight_alt {
  @extend %link_highlight;
  background: $highlight_color;
  color: $tert_7;
}