.consulting-services-template {
  .content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;

    .entry {
      -ms-flex: 2 0 50%;
      flex: 2 0 50%;
      order: 1;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .consulting-services-template .content .entry {
  float: left;
}

.consulting-sidebar {
  padding-top: 40px;
  padding-top: 4rem;
  float: right;
  margin: 0 0 20px 20px;
  margin: 0 0 2rem 2rem;
  max-width: 200px;
  max-width: 20rem;
  min-width: 200px;
  min-width: 20rem;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  order: 2;
  align-self: flex-start;

  .widget-title {
    color: $primary_color;
    font-size: 19px;
    font-size: 1.9rem;
    text-transform: none;

    a {
      text-decoration: none;
    }
  }

  .flag {
    background: #9abd3c;
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    padding: 10px;
    padding: 1rem;

    &.flag-1,
    &.flag-5,
    &.flag-9 {
      background: $tert_6;
    }

    &.flag-2,
    &.flag-6,
    &.flag-10 {
      background: $tert_2;
    }

    &.flag-3,
    &.flag-7,
    &.flag-11 {
      background: $primary_color;
    }

    &.flag-4,
    &.flag-8,
    &.flag-12 {
      background: $tert_5;
    }

    .widget-title {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    a {
      color: #fff;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      box-shadow: none;

      &:hover,
      &:focus {
        border-bottom-color: #fff;
        box-shadow: none;
      }
    }
  }
}