.page-template-template-policy-fellowship-php {
  /**
   * Special styles for the Policy Fellowship template
   */
  .site-inner {
    padding-top: 0;
  }

  .content table,
  .content .tablepress table {
    font-size: 14px;
    font-size: 1.4rem;

    .session-date {
      white-space: nowrap;
    }
  }

  .site-header > .wrap {
    padding-bottom: 0;
  }

  &.sidebar-content-sidebar {
    .site-inner {
      position: relative;

      .sidebar.sidebar-secondary {
        padding: 0 5%;
        padding-top: 190px;
        padding-top: 19rem;
        border-right: none;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }

    .content {
      padding-left: 0;
    }

    .entry-header {
      padding-top: 100px;
      padding-top: 10rem;
      height: 150px;
      height: 15rem;
      margin-bottom: 40px;
      margin-bottom: 4rem;
      background-repeat: no-repeat;
      background-position: left top;
      background-size: cover;
      width: 100%;
    }

    .entry-title,
    .entry-content {
      padding-left: 5.714285714285714%;
      width: 100%;
    }

    .bio-list {
      .alignleft {
        padding-right: 2rem;
      }

      .bio-content {
        float: none;
        width: 100%;
        max-width: 100%;
        clear: none;
      }

      .bio-meta {
        font-weight: 600;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
  }

  .chrt-inner-feature {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
  }

  .content .entry {
    -ms-flex: 2 0 50%;
    flex: 2 0 50%;
    order: 1;
    margin-left: 0;
    margin-right: 0;
  }
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .page-template-template-policy-fellowship-php .content .entry {
  float: left;
}

.page-template-template-policy-fellowship-php {
  .fellowship-sidebar {
    padding-top: 40px;
    padding-top: 4rem;
    float: right;
    margin: 0 0 20px 20px;
    margin: 0 0 2rem 2rem;
    max-width: 200px;
    max-width: 20rem;
    min-width: 200px;
    min-width: 20rem;
    -ms-flex: 1 0 200px;
    flex: 1 0 200px;
    order: 2;
    align-self: flex-start;

    .widget-title {
      color: $primary_color;
      font-size: 19px;
      font-size: 1.9rem;
      text-transform: none;

      a {
        text-decoration: none;
      }
    }

    .flag {
      background: $primary_color;
      margin-top: 10px;
      margin-top: 1rem;
      margin-bottom: 10px;
      margin-bottom: 1rem;
      padding: 10px;
      padding: 1rem;
    }

    .flag-1,
    .flag-5,
    .flag-9 {
      background: $tert_6;
    }

    .flag-2,
    .flag-6,
    .flag-10 {
      background: $tert_2;
    }

    .flag-3,
    .flag-7,
    .flag-11 {
      background: $primary_color;
    }

    .flag-4,
    .flag-8,
    .flag-12 {
      background: $tert_5;
    }

    .flag {
      .widget-title {
        margin: 0;
        padding: 0;
        color: #fff;
      }

      a {
        color: #fff;
        background: none;
        border: none;
        border-bottom: 2px solid transparent;
        box-shadow: none;

        &:hover,
        &:focus {
          border-bottom-color: #fff;
          box-shadow: none;
        }
      }
    }
  }

  @media all and (max-width: 1020px) {
    &.sidebar-content-sidebar {
      .site-inner,
      .entry-content {
        position: static;
        padding: 0;
      }

      .site-inner .sidebar.sidebar-secondary {
        position: static;
        padding: 10px;
        padding: 1rem;
      }
    }
  }
}