@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?8f7thi');
	src:  url('fonts/icomoon.eot?8f7thi#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?8f7thi') format('truetype'),
		url('fonts/icomoon.woff?8f7thi') format('woff'),
		url('fonts/icomoon.svg?8f7thi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.content {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.front-page-feature {
	max-width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	margin: 0 auto;
	color: #fff;
	font-size: 19px;
	font-size: 1.9rem;
	text-align: center;
	line-height: 1.4;
}

.front-page-feature-wrap {
	max-width: 100%;
	background: rgba( 0, 0, 0, .5 );
	padding: 12% 15%;
	margin: 0;
}

.no-rgba .front-page-feature-wrap {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
	zoom: 1;
}

.front-page-feature h1.entry-title {
	font-family: 'Bitter', serif;
	font-size: 37px;
	font-size: 3.7rem;
	color: #fff;
	line-height: 1.2;
}

.front-page-feature .button {
	background: rgba( 0, 0, 0, .3 );
	margin: 0 auto;
	font-size: 15px;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	padding: 10px 24px;
	padding: 1rem 2.4rem;
	border-radius: 5px;
	border: 1px solid #fff;
}

.no-rgba .front-page-feature .button {
	background: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);
	zoom: 1;
}

.front-page-feature .button:hover, 
.front-page-feature .button:focus {
	color: #58585b;
	background: #fff;
}

.front-feature .js-wpv-view-layout, 
.front-below-content {
	max-width: 100%;
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: stretch;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.front-feature {
	background: #294a19;
	padding: 0;
}

.front-feature a {
	color: #b3c796;
}

.front-feature .widget-title {
	font-size: 18px;
	font-size: 1.8rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 0;
	display: none;
}

.front-feature article {
	display: block;
	background: none;
	color: #dcd1c6;
	width: 33.3333333333%;
	-ms-flex: 1 1 300px;
	flex: 1 1 300px;
	/*padding: 10px;*/
	min-width: 300px;
	vertical-align: top;
	padding: 20px;
	padding: 2rem;
}

.front-feature article:hover {
	background: #572723;
}

.front-feature h2 {
	font-size: 16px;
	font-size: 1.6rem;
}

.front-feature .news-excerpt {
	font-size: 12px;
	font-size: 1.2rem;
}

.front-feature .news-excerpt p {
	margin-bottom: 0;
}

.front-below-content .widget {
	display: block;
	background: #000;
	color: #fff;
	width: 25%;
	-ms-flex: 1 1 200px;
	flex: 1 1 200px;
	/*padding: 10px;*/
	min-width: 200px;
	vertical-align: top;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-feature, 
.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-below-content {
	display: table-row;
	vertical-align: top;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-feature article, 
.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-below-content .widget {
	display: table-cell;
}

.front-below-content .widget > a {
	padding: 40px;
}

.front-below-content .widget .widget-wrap:before {
	font-size: 65px;
	font-size: 6.5rem;
	color: #fff;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-family: 'icomoon';
}

.front-below-content .widget:hover .widget-wrap:before {
	color: #008190;
}

.front-below-content .widget:nth-of-type(1) .widget-wrap:before {
	content: "\e906";
}

.front-below-content .widget:nth-of-type(2) .widget-wrap:before {
	content: "\e907";
}

.front-below-content .widget:nth-of-type(3) .widget-wrap:before {
	content: "\e908";
}

.front-below-content .widget:nth-of-type(4) .widget-wrap:before {
	content: "\e909";
}

.front-below-content .widget.first-of-type {
	background: #9abd3c;
}

.front-below-content .widget:nth-of-type(1) {
	background: #9abd3c;
}

.front-below-content .widget.first-of-type a:hover, 
.front-below-content .widget.first-of-type a:focus, 
.front-below-content .widget.first-of-type a:hover h2.entry-title, 
.front-below-content .widget.first-of-type a:focus h2.entry-title {
	color: #9abd3c;
}

.front-below-content .widget:nth-of-type(1):hover, 
.front-below-content .widget:nth-of-type(1):focus, 
.front-below-content .widget:nth-of-type(1) a:hover, 
.front-below-content .widget:nth-of-type(1) a:focus, 
.front-below-content .widget.featured-content:nth-of-type(1) a:hover h2.entry-title, 
.front-below-content .widget.featured-content:nth-of-type(1) a:focus h2.entry-title, 
.front-below-content .widget:nth-of-type(1) a:hover .widget-wrap:before, 
.front-below-content .widget:nth-of-type(1) a:focus .widget-wrap:before {
	color: #9abd3c;
}

.front-below-content .widget.second-of-type {
	background: #0f1d41;
}

.front-below-content .widget:nth-of-type(2) {
	background: #0f1d41;
}

.front-below-content .widget.second-of-type a:hover, 
.front-below-content .widget.second-of-type a:focus, 
.front-below-content .widget.second-of-type a:hover h2.entry-title, 
.front-below-content .widget.second-of-type a:focus h2.entry-title {
	color: #0f1d41;
}

.front-below-content .widget:nth-of-type(2):hover, 
.front-below-content .widget:nth-of-type(2):focus, 
.front-below-content .widget:nth-of-type(2) a:hover, 
.front-below-content .widget:nth-of-type(2) a:focus, 
.front-below-content .widget.featured-content:nth-of-type(2) a:hover h2.entry-title, 
.front-below-content .widget.featured-content:nth-of-type(2) a:focus h2.entry-title, 
.front-below-content .widget:nth-of-type(2) a:hover .widget-wrap:before, 
.front-below-content .widget:nth-of-type(2) a:focus .widget-wrap:before {
	color: #0f1d41;
}

.front-below-content .widget.third-of-type {
	background: #008190;
}

.front-below-content .widget:nth-of-type(3) {
	background: #008190;
}

.front-below-content .widget.third-of-type a:hover, 
.front-below-content .widget.third-of-type a:focus, 
.front-below-content .widget.third-of-type a:hover h2.entry-title, 
.front-below-content .widget.third-of-type a:focus h2.entry-title {
	color: #008190;
}

.front-below-content .widget:nth-of-type(3):hover, 
.front-below-content .widget:nth-of-type(3):focus, 
.front-below-content .widget:nth-of-type(3) a:hover, 
.front-below-content .widget:nth-of-type(3) a:focus, 
.front-below-content .widget.featured-content:nth-of-type(3) a:hover h2.entry-title, 
.front-below-content .widget.featured-content:nth-of-type(3) a:focus h2.entry-title, 
.front-below-content .widget:nth-of-type(3) a:hover .widget-wrap:before, 
.front-below-content .widget:nth-of-type(3) a:focus .widget-wrap:before {
	color: #008190;
}

.front-below-content .widget.fourth-of-type {
	background: #58585b;
}

.front-below-content .widget:nth-of-type(4) {
	background: #58585b;
}

.front-below-content .widget.fourth-of-type a:hover, 
.front-below-content .widget.fourth-of-type a:focus, 
.front-below-content .widget.fourth-of-type a:hover h2.entry-title, 
.front-below-content .widget.fourth-of-type a:focus h2.entry-title {
	color: #58585b;
}

.front-below-content .widget:nth-of-type(4):hover, 
.front-below-content .widget:nth-of-type(4):focus, 
.front-below-content .widget:nth-of-type(4) a:hover, 
.front-below-content .widget:nth-of-type(4) a:focus, 
.front-below-content .widget.featured-content:nth-of-type(4) a:hover h2.entry-title, 
.front-below-content .widget.featured-content:nth-of-type(4) a:focus h2.entry-title, 
.front-below-content .widget:nth-of-type(4) a:hover .widget-wrap:before, 
.front-below-content .widget:nth-of-type(4) a:focus .widget-wrap:before {
	color: #58585b;
}

.front-below-content .widget:hover, 
.front-below-content .widget:focus {
	background: #fff;
}

/*.front-below-content .widget:hover, 
.front-below-content .widget:focus {
	background: #fff;
	color: #000;
}*/

.front-below-content .widget a {
	display: block;
	color: #fff;
}

.front-below-content .widget > a {
	height: 100%;
}

/*.front-below-content .widget a:hover, 
.front-below-content .widget a:focus {
	color: #008190;
}*/

.front-below-content .widget header:before {
	content: " ";
	width: 15%;
	margin: 20px auto;
	display: block;
	border-bottom: 1px solid #fff;
}

.front-below-content .widget:hover header:before, 
.front-below-content .widget:focus header:before {
	border-bottom-color: #000;
}

.front-below-content .featured-content {
	text-align: center;
}

.front-below-content .featured-content .entry {
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	font-size: 16px;
	font-size: 1.6rem;
}

.front-below-content .featured-content h2.entry-title, 
.front-below-content .featured-content h2.entry-title a {
	font-family: Bitter, serif;
	font-weight: 700;
	font-size: 19px;
	font-size: 1.9rem;
	color: #fff;
	text-decoration: none;
	border: none;
}

.front-below-content .widget.featured-content:hover h2.entry-title, 
.front-below-content .widget.featured-content:hover h2.entry-title a, 
.front-below-content .widget.featured-content:focus h2.entry-title, 
.front-below-content .widget.featured-content:focus h2.entry-title a, 
.front-below-content .featured-content h2.entry-title a:hover, 
.front-below-content .featured-content h2.entry-title a:focus {
	color: #008190;
}

@media all and (max-width: 768px) {
	.front-page-feature-wrap {
		background: rgba( 0, 0, 0, .7 );
	}
	
	.no-rgba .front-page-feature-wrap {
		background: transparent;
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#70000000,endColorstr=#70000000);
		zoom: 1;
	}
	
	.front-page-feature .button {
		background: rgb( 88, 89, 91 );
		background: none;
	}
}

@media all and (max-width: 600px) {
	.front-feature .news-excerpt {
		display: none;
	}
	
	.front-feature article {
		border-bottom: 1px solid #002e5e;
	}
}

@media all and (max-width: 400px) {
	.front-page-feature .entry-title {
		font-size: 32px;
		font-size: 3.2rem;
	}
}

.ie-front-page-feature {
	display: none;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-page-feature {
	position: relative;
	background-image: none !important;
	overflow: hidden;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .ie-front-page-feature {
	display: block;
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	z-index: 95; 
	width: 100%; 
	height: auto;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-page-feature-wrap {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 96;
	overflow: hidden;
}