@import "chrt-colors";

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8f7thi');
  src:  url('fonts/icomoon.eot?8f7thi#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?8f7thi') format('truetype'),
  url('fonts/icomoon.woff?8f7thi') format('woff'),
  url('fonts/icomoon.svg?8f7thi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.content {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.front-page-feature {
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  color: #fff;
  font-size: 19px;
  font-size: 1.9rem;
  text-align: center;
  line-height: 1.4;

  position: relative;
  z-index: 9;
}

.front-page-feature-wrap {
  max-width: 100%;
  padding: 12% 15%;
  margin: 0;
  position: relative;
  z-index: 11;
}

.no-rgba .front-page-feature-wrap {
  background: transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
  zoom: 1;
}

.front-page-feature {
  /*header,
  .feature-content {
    filter: url(/#whiteoverlay);
  }*/

  h1.entry-title {
    font-family: $secondary_font;
    font-size: 38px;
    font-size: 3.8rem;
    color: #fff;
    line-height: 1.2;
    font-weight: 400;
  }

  .button {
    background: rgba($primary_color, .3);
    margin: 1rem auto;
    font-size: 15px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    padding: 10px 24px;
    padding: 1rem 2.4rem;
    border-radius: 5px;
    border: 1px solid $highlight_color;
  }
}

.no-rgba .front-page-feature .button {
  background: transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#30000000,endColorstr=#30000000);
  zoom: 1;
}

.front-page-feature .button:hover,
.front-page-feature .button:focus {
  color: $primary_color;
  background: $highlight_color;
}

.front-feature .js-wpv-view-layout,
.front-below-content {
  max-width: 100%;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.front-feature {
  background: #fff;
  color: $primary_color;
  padding: 0;

  a {
    color: $primary_color;
    text-decoration: none;
    border: none;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    background: none;

    &:hover,
    &:focus {
      @extend %link_highlight;
    }
  }

  .widget-title {
    font-size: 18px;
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    display: none;
  }

  article {
    display: block;
    background: none;
    color: $primary_color;
    width: 33.3333333333%;
    -ms-flex: 1 1 300px;
    flex: 1 1 300px;
    /*padding: 10px;*/
    min-width: 300px;
    vertical-align: top;
    padding: 20px;
    padding: 2rem;

    &:hover {
      background: $secondary_highlight;
      color: #000;

      a, a:hover, a:focus {
        color: #000;
      }
    }
  }

  h2 {
    font-family: $secondary_font;
    font-weight: 500;
    font-size: 17px;
    font-size: 1.7rem;
  }

  .news-excerpt {
    font-size: 12px;
    font-size: 1.2rem;

    p {
      margin-bottom: 0;
    }
  }
}

.front-below-content .widget {
  display: block;
  background: #000;
  color: #fff;
  width: 25%;
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
  /*padding: 10px;*/
  min-width: 200px;
  vertical-align: top;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener {
  .front-feature,
  .front-below-content {
    display: table-row;
    vertical-align: top;
  }

  .front-feature article,
  .front-below-content .widget {
    display: table-cell;
  }
}

.front-below-content {
  .widget {
    > a {
      padding: 40px;
    }

    .widget-wrap:before {
      font-size: 65px;
      font-size: 6.5rem;
      color: #fff;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-family: 'icomoon';
    }

    &:hover .widget-wrap:before {
      color: $tert_1;
    }

    &:nth-of-type(1) .widget-wrap:before {
      content: "\e906";
    }

    &:nth-of-type(2) .widget-wrap:before {
      content: "\e907";
    }

    &:nth-of-type(3) .widget-wrap:before {
      content: "\e908";
    }

    &:nth-of-type(4) .widget-wrap:before {
      content: "\e909";
    }

    &.first-of-type,
    &.first-of-type a {
      background: $tert_6;
      background: $tert_1;
    }

    &:nth-of-type(1),
    &:nth-of-type(1) a {
      background: $tert_6;
      background: $tert_1;
    }

    &.first-of-type a:hover,
    &.first-of-type a:focus,
    &.first-of-type a:hover h2.entry-title,
    &.first-of-type a:focus h2.entry-title {
      color: $tert_6;
      color: $tert_1;
    }

    &:nth-of-type(1):hover,
    &:nth-of-type(1):focus,
    &:nth-of-type(1) a:hover,
    &:nth-of-type(1) a:focus,
    &.featured-content:nth-of-type(1) a:hover h2.entry-title,
    &.featured-content:nth-of-type(1) a:focus h2.entry-title,
    &:nth-of-type(1) a:hover .widget-wrap:before,
    &:nth-of-type(1) a:focus .widget-wrap:before {
      color: $tert_6;
      color: $tert_1;
    }

    &.second-of-type,
    &.second-of-type a {
      background: $tert_2;
    }

    &:nth-of-type(2),
    &:nth-of-type(2) a {
      background: $tert_2;
    }

    &.second-of-type a:hover,
    &.second-of-type a:focus,
    &.second-of-type a:hover h2.entry-title,
    &.second-of-type a:focus h2.entry-title {
      color: $tert_2;
    }

    &:nth-of-type(2):hover,
    &:nth-of-type(2):focus,
    &:nth-of-type(2) a:hover,
    &:nth-of-type(2) a:focus,
    &.featured-content:nth-of-type(2) a:hover h2.entry-title,
    &.featured-content:nth-of-type(2) a:focus h2.entry-title,
    &:nth-of-type(2) a:hover .widget-wrap:before,
    &:nth-of-type(2) a:focus .widget-wrap:before {
      color: $tert_2;
    }

    &.third-of-type,
    &.third-of-type a {
      background: $tert_3;
    }

    &:nth-of-type(3),
    &:nth-of-type(3) a {
      background: $tert_3;
    }

    &.third-of-type a:hover,
    &.third-of-type a:focus,
    &.third-of-type a:hover h2.entry-title,
    &.third-of-type a:focus h2.entry-title {
      color: $tert_3;
    }

    &:nth-of-type(3):hover,
    &:nth-of-type(3):focus,
    &:nth-of-type(3) a:hover,
    &:nth-of-type(3) a:focus,
    &.featured-content:nth-of-type(3) a:hover h2.entry-title,
    &.featured-content:nth-of-type(3) a:focus h2.entry-title,
    &:nth-of-type(3) a:hover .widget-wrap:before,
    &:nth-of-type(3) a:focus .widget-wrap:before {
      color: $tert_3;
    }

    &.fourth-of-type,
    &.fourth-of-type a {
      background: $tert_5;
      background: $tert_4;
    }

    &:nth-of-type(4),
    &:nth-of-type(4) a {
      background: $tert_5;
      background: $tert_4;
    }

    &.fourth-of-type a:hover,
    &.fourth-of-type a:focus,
    &.fourth-of-type a:hover h2.entry-title,
    &.fourth-of-type a:focus h2.entry-title {
      color: $tert_5;
      color: $tert_4;
    }

    &:nth-of-type(4):hover,
    &:nth-of-type(4):focus,
    &:nth-of-type(4) a:hover,
    &:nth-of-type(4) a:focus,
    &.featured-content:nth-of-type(4) a:hover h2.entry-title,
    &.featured-content:nth-of-type(4) a:focus h2.entry-title,
    &:nth-of-type(4) a:hover .widget-wrap:before,
    &:nth-of-type(4) a:focus .widget-wrap:before {
      color: $tert_5;
      color: $tert_4;
    }

    &:hover,
    &:focus {
      background: #fff;

      > a {
        background: #fff;
      }
    }

    a {
      display: block;
      color: #fff;
    }

    > a {
      height: 100%;
      border: none;
      box-shadow: none;

      &:hover,
      &:focus {
        background: #fff;
        border: none;
        box-shadow: none;
      }
    }

    header:before {
      content: " ";
      width: 15%;
      margin: 20px auto;
      display: block;
      border-bottom: 1px solid #fff;
    }

    &:hover header:before,
    &:focus header:before {
      border-bottom-color: #000;
    }
  }

  .featured-content {
    text-align: center;

    .entry {
      background: none;
      margin: 0;
      padding: 0;
      border: none;
      font-size: 16px;
      font-size: 1.6rem;
    }

    h2.entry-title,
    h2.entry-title a {
      font-family: $secondary_font;
      font-weight: 700;
      font-size: 20px;
      font-size: 2.0rem;
      color: #fff;
      text-decoration: none;
      border: none;
    }
  }

  .widget.featured-content:hover h2.entry-title,
  .widget.featured-content:hover h2.entry-title a,
  .widget.featured-content:focus h2.entry-title,
  .widget.featured-content:focus h2.entry-title a,
  .featured-content h2.entry-title a:hover,
  .featured-content h2.entry-title a:focus {
    color: #008190;
  }
}

@media all and (max-width: 600px) {
  .front-feature .news-excerpt {
    display: none;
  }

  .front-feature article {
    border-bottom: 1px solid #002e5e;
  }
}

@media all and (max-width: 400px) {
  .front-page-feature .entry-title {
    font-size: 32px;
    font-size: 3.2rem;
  }
}

.ie-front-page-feature {
  display: none;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-page-feature {
  position: relative;
  background-image: none !important;
  overflow: hidden;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .ie-front-page-feature {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 95;
  width: 100%;
  height: auto;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-page-feature-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 96;
  overflow: hidden;
}