@font-face {
  font-family: 'Apercu';
  src: url("fonts/apercu-regular-pro.eot");
  src: url("fonts/apercu-regular-pro.eot?#iefix") format("embedded-opentype"), url("fonts/apercu-regular-pro.woff") format("woff"), url("fonts/apercu-regular-pro.woff2") format("woff2"), url("fonts/apercu-regular-pro.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Apercu';
  src: url("fonts/apercu-medium-pro.eot");
  src: url("fonts/apercu-medium-pro.eot?#iefix") format("embedded-opentype"), url("fonts/apercu-medium-pro.woff") format("woff"), url("fonts/apercu-medium-pro.woff2") format("woff2"), url("fonts/apercu-medium-pro.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
/**
 CHRT base definitions
 */
img {
  filter: none; }

a:hover, a:focus,
.sidebar a:hover,
.sidebar a:focus, .sidebar-primary .sub-menu .current-menu-item > a:hover, .sidebar-primary .sub-menu .current-menu-item > a:focus, .sidebar-primary .menu .current-menu-ancestor > a:hover, .sidebar-primary .menu .current-menu-ancestor > a:focus, .entry-meta a:hover, .entry-meta a:focus, .entry-content a:hover, .entry-content a:focus, .bio-summary .bio-name a:hover, .bio-summary .bio-name a:focus, .bio-summary .bio-email a:hover, .bio-summary .bio-email a:focus, .publications-entry .publication-category a:hover, .publications-entry .publication-category a:focus, .publications-entry a:hover, .publications-entry a:focus, a,
.sidebar a, .sidebar-primary .menu .current-menu-item > a,
.sidebar-primary .menu a:hover,
.sidebar-primary .menu a:focus, .sidebar-primary .menu .sub-menu a:hover,
.sidebar-primary .menu .sub-menu a:focus, .entry-meta a, .entry-content a, .bio-summary .bio-name a, .bio-summary .bio-email a, .publications-entry .publication-category a, .publications-entry a {
  color: #63513D;
  border: none;
  border-bottom: 3px solid #DBE442;
  text-decoration: none;
  box-shadow: inset 0 -4px 0 #DBE442;
  background: transparent;
  -webkit-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -moz-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -ms-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  -o-transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1); }

a:hover, a:focus,
.sidebar a:hover,
.sidebar a:focus, .sidebar-primary .sub-menu .current-menu-item > a:hover, .sidebar-primary .sub-menu .current-menu-item > a:focus, .sidebar-primary .menu .current-menu-ancestor > a:hover, .sidebar-primary .menu .current-menu-ancestor > a:focus, .entry-meta a:hover, .entry-meta a:focus, .entry-content a:hover, .entry-content a:focus, .bio-summary .bio-name a:hover, .bio-summary .bio-name a:focus, .bio-summary .bio-email a:hover, .bio-summary .bio-email a:focus, .publications-entry .publication-category a:hover, .publications-entry .publication-category a:focus, .publications-entry a:hover, .publications-entry a:focus {
  background: #DBE442;
  color: #000; }

@-ms-viewport {
  width: device-width; }
body {
  width: 100%;
  max-width: 100%;
  background: #fff;
  font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif;
  color: #000; }

#wpadminbar a {
  box-shadow: none; }

img {
  max-width: 100%; }

img.nofilter,
.nofilter img {
  filter: none; }

.defs-only {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%; }

.site-inner {
  border: none;
  padding: 0; }

.sidebar-primary {
  display: block;
  float: left;
  width: 225px;
  min-width: 225px;
  padding: 30px;
  color: #63513D; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .content-sidebar-wrap {
  position: relative; }
.no-flexbox.no-flexboxlegacy.no-flexboxtweener .sidebar-primary {
  position: absolute;
  left: 0;
  top: 0; }

@media all and (min-width: 0px) {
  .sidebar-primary {
    width: 100%;
    float: none;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start; }

  .site-logo,
  .front-top-sidebar,
  .front-bottom-sidebar {
    -ms-flex: 1 0 225px;
    flex: 1 0 225px;
    align-self: flex-start; } }
.site-logo,
.front-top-sidebar,
.front-bottom-sidebar {
  display: block;
  max-width: 100%;
  padding: 0; }

.front-top-sidebar {
  margin-bottom: 20px; }
  .front-top-sidebar .widget_search .gsc-input-box tr {
    line-height: 22px;
    vertical-align: top; }
  .front-top-sidebar .widget_search .gsc-input-box .gsib_b {
    padding: 0; }
    .front-top-sidebar .widget_search .gsc-input-box .gsib_b a {
      border: none;
      display: block; }

.content {
  width: 100%;
  max-width: 100%;
  background: #fff; }

.chrt-inner-feature {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%; }

.content .entry,
.archive .page-header > *,
.blog .page-header > *,
.archive-intro,
.search-results .gsc-tabsArea,
.search-results .gsc-above-wrapper-area,
.search-results .gsc-webResult.gsc-result,
.search-results .gsc-results .gsc-imageResult,
.search-results .gcsc-branding {
  /*max-width: 800px;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;*/
  margin: 50px;
  margin: 5rem;
  background: none; }

.content > .entry:first-of-type {
  padding-top: 22px;
  padding-top: 2.2rem; }

.archive .page-header,
.blog .page-header {
  padding: 4rem 4rem 2.4rem; }

.alignright {
  margin: 0 0 2rem 2rem; }

.alignleft {
  margin: 0 2rem 2rem 0; }

.aligncenter {
  display: block;
  margin: 1rem auto; }

.chrt-inner-feature img {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  max-width: 100%;
  height: auto; }

.site-logo {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-bottom: 1rem; }

.search-form-wrap,
.sidebar-primary nav {
  margin-bottom: 30px;
  margin-bottom: 3rem; }

.site-logo figcaption {
  padding: 0 40px; }
.site-logo .sub-tagline {
  font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif;
  font-size: 11px;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  margin: 10px -40px;
  margin: 1rem -4rem;
  padding: 10px 0;
  padding: 1rem 0;
  border-top: 2px solid #B7BF10; }
.site-logo a {
  color: #63513D;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  box-shadow: none;
  background: none; }
  .site-logo a:hover, .site-logo a:focus {
    color: #63513D;
    text-decoration: none;
    border: 1px dotted #63513D;
    background: transparent;
    box-shadow: none; }
.site-logo img,
.site-logo image {
  display: block;
  width: 100%;
  max-width: 160px;
  height: auto;
  margin-bottom: 12px;
  margin-bottom: 1.2rem; }
.site-logo image {
  width: 160px;
  height: 84.4531px; }

.gsc-control-searchbox-only,
.gsc-control-searchbox-only * {
  box-sizing: initial; }
  .gsc-control-searchbox-only .gsib_a,
  .gsc-control-searchbox-only * .gsib_a {
    padding: 0; }
  .gsc-control-searchbox-only .gsc-search-button,
  .gsc-control-searchbox-only * .gsc-search-button {
    display: none; }
  .gsc-control-searchbox-only tbody,
  .gsc-control-searchbox-only td.gsc-input,
  .gsc-control-searchbox-only * tbody,
  .gsc-control-searchbox-only * td.gsc-input {
    border: none; }
  .gsc-control-searchbox-only input.gsc-input,
  .gsc-control-searchbox-only * input.gsc-input {
    background-image: none !important;
    position: relative;
    z-index: 99;
    box-sizing: border-box;
    padding-right: 16px; }
  .gsc-control-searchbox-only td.gsc-input td.gsib_a,
  .gsc-control-searchbox-only * td.gsc-input td.gsib_a {
    position: relative;
    z-index: 99; }
    .gsc-control-searchbox-only td.gsc-input td.gsib_a:after,
    .gsc-control-searchbox-only * td.gsc-input td.gsib_a:after {
      content: "\f179";
      font-family: 'dashicons';
      position: absolute;
      right: -24px;
      top: 0;
      color: #63513D;
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 22px;
      z-index: 100; }
    .gsc-control-searchbox-only td.gsc-input td.gsib_a.has-text:after,
    .gsc-control-searchbox-only * td.gsc-input td.gsib_a.has-text:after {
      right: -48px; }

body .site-inner .gsc-search-box table tbody tr:nth-child(odd),
body .site-inner .gsc-search-box table tbody tr.even {
  background: none; }
body .site-inner .gsc-search-box table tbody tr {
  background: none; }

.sidebar-primary .menu a {
  display: block;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 1.4rem;
  color: #63513D;
  font-weight: 300;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid transparent;
  background: transparent;
  text-decoration: none; }
.sidebar-primary .menu .sub-menu {
  padding-top: 6px;
  padding-top: .6rem;
  padding-bottom: 6px;
  padding-bottom: .6rem;
  left: -9999px;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -ms-transition: opacity .4s ease-in-out;
  -o-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  z-index: 99; }
  .sidebar-primary .menu .sub-menu a {
    font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif;
    text-transform: none;
    font-size: 13px;
    font-size: 1.3rem;
    color: #000; }

.nojs .sidebar-primary .menu :hover .sub-menu,
.sidebar-primary .menu :focus .sub-menu,
.sidebar-primary .menu .hover .sub-menu,
.sidebar-primary .menu .current-menu-item .sub-menu,
.sidebar-primary .menu .current-menu-ancestor .sub-menu {
  left: auto;
  opacity: 1;
  background: transparent;
  width: auto;
  max-width: 205px;
  position: static;
  padding: 10px; }

.sidebar-primary .menu .current-menu-item > a {
  font-weight: 400; }

.sidebar-primary .sub-menu .current-menu-item > a {
  font-weight: 300;
  text-decoration: none; }

.sidebar-primary .menu .current-menu-ancestor > a {
  color: #63513D; }

.sidebar-primary .sub-menu .current-menu-item > a {
  color: #63513D;
  font-weight: 500; }

.sidebar-primary .menu-item {
  margin-bottom: 12px;
  margin-bottom: 1.2rem; }
.sidebar-primary .widget {
  background: none;
  margin: 0 0 16px;
  border: none;
  border-radius: 0;
  padding: 0; }

.sidebar-primary .button,
.content button,
.content input[type="button"],
.content input[type="reset"],
.content input[type="submit"],
.content .button,
.entry-content .button {
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 27.5px;
  padding: 1rem 2.75rem;
  border: 1px solid #fff;
  color: #fff;
  background: #DBE442;
  color: #000;
  text-decoration: none;
  box-shadow: none; }

.sidebar-primary .button:hover,
.sidebar-primary .button:focus,
.content button:hover,
.content button:focus,
.content input[type="button"]:hover,
.content input[type="button"]:focus,
.content input[type="reset"]:hover,
.content input[type="reset"]:focus,
.content input[type="submit"]:hover,
.content input[type="submit"]:focus,
.content .button:hover,
.content .button:focus,
.entry-content .button:hover,
.entry-content .button:focus {
  border: 1px solid #DBE442;
  background: #63513D;
  color: #DBE442;
  box-shadow: none; }

.content p.button {
  text-transform: none;
  cursor: initial;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400; }

.button a {
  color: #fff;
  text-decoration: none;
  font-weight: 700; }

.button:hover a,
.button:focus a {
  color: #63513D; }

.button a:hover,
.button a:focus {
  text-decoration: none; }

.sidebar-primary .front-bottom-sidebar {
  font-size: 12px;
  font-size: 1.2rem; }
  .sidebar-primary .front-bottom-sidebar .menu a {
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 300;
    color: #63513D; }
  .sidebar-primary .front-bottom-sidebar .sub-menu a {
    font-size: 11px;
    font-size: 1.1rem;
    color: #00274C; }

.widget.simple-social-icons {
  margin-bottom: 0; }
  .widget.simple-social-icons ul li {
    margin-left: 0 !important; }

.content-sidebar-wrap {
  display: block;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between; }

.content {
  display: block;
  max-width: 100%;
  padding: 0;
  padding-right: 225px;
  width: 100%;
  float: right;
  /* Since IE doesn't support the @supports query, we'll put these here,
      and they'll be ignored by browsers that don't understand them */
  order: 2;
  -ms-flex: 4 1 auto;
  flex: 4 1 auto; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .content {
  position: absolute;
  left: 0;
  padding-left: 225px;
  padding-right: 0;
  width: 100%;
  background: #fff; }

@media all and (min-width: 0px) {
  .content {
    width: auto;
    padding-right: 0;
    float: none; } }
.content-sidebar-wrap,
.site-inner,
.wrap {
  max-width: 100%;
  min-width: 100%;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #63513D;
  font-weight: 400; }

h1, h3, h4, h5, h6 {
  font-family: Arial, sans-serif; }

h2 {
  font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif; }

h3 {
  text-transform: uppercase; }

h3, h4 {
  font-weight: 500; }

.press-contacts h3 {
  font-size: 20px;
  font-size: 2rem; }

.content h1.entry-title,
.archive h1.page-title,
.blog h1.page-title {
  color: #63513D;
  font-size: 37px;
  font-size: 3.7rem; }

.content h2,
.search-results .gsc-control-cse .gs-result .gs-title {
  color: #63513D;
  font-size: 19px;
  font-size: 1.9rem;
  line-height: 1.2; }

.entry-meta .entry-time,
.entry-meta .entry-categories,
.entry-meta > a {
  display: inline-block;
  padding-right: 1rem; }

.entry-content a {
  font-weight: 400; }

.sidebar-content .sidebar-primary {
  background: #fff;
  order: 1;
  -ms-flex: 1 0 275px;
  flex: 1 0 275px;
  width: 275px;
  min-width: 275px;
  float: none; }

.sidebar-primary .widget:last-child {
  margin-bottom: 0; }

#mobile-header,
#hamburger-menu {
  display: none; }

a.hamburger,
a.hamburger-close {
  display: block;
  border: none;
  width: 32px;
  height: 32px;
  float: right;
  text-indent: -99999em;
  overflow: hidden;
  box-shadow: none;
  border: none; }
  a.hamburger:hover, a.hamburger:focus,
  a.hamburger-close:hover,
  a.hamburger-close:focus {
    background: none;
    color: #000;
    border: none;
    box-shadow: none; }

a.hamburger {
  position: absolute;
  bottom: 0;
  right: 0; }

a.hamburger-close {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 9999999; }

.hamburger:before,
.hamburger-close:before {
  content: "\f333";
  font-family: 'dashicons';
  font-size: 28px;
  color: inherit;
  width: 32px;
  height: 32px;
  float: right;
  display: block;
  text-indent: 0; }

.hamburger-close:before {
  content: "\f158"; }

.nojs .sidebar-primary .menu-item-has-children > a:after,
.sidebar-primary .menu-item-has-children span.expand-collapse:after {
  content: "\f347";
  font-family: 'dashicons';
  float: right;
  padding: 0 6px; }

.nojs .sidebar-primary .menu-item-has-children.hover > a:after,
.sidebar-primary .menu-item-has-children.hover span.expand-collapse:after {
  content: "\f343"; }

.sub-menu span.expand-collapse {
  display: none; }

.entry .bio-staff-grid {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start; }
  .entry .bio-staff-grid .bio-summary {
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    padding: 15px;
    min-width: 180px;
    min-width: 18rem; }
    .entry .bio-staff-grid .bio-summary img {
      filter: none; }
    .entry .bio-staff-grid .bio-summary img:hover, .entry .bio-staff-grid .bio-summary:hover img {
      filter: none; }

.single-bio .bio-content img {
  filter: none; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .entry .bio-staff-grid .bio-summary {
  vertical-align: top;
  display: inline-block;
  width: 25%; }

.entry .bio-staff-grid .bio-summary img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  margin-bottom: 15px;
  margin-bottom: 1.5rem; }

.entry .bio-staff-grid .bio-content img {
  width: auto; }

.bio-summary .bio-name a {
  color: #63513D;
  text-decoration: none;
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-bottom: 0; }
.bio-summary .bio-name a {
  display: block; }
.bio-summary .bio-title {
  text-transform: uppercase;
  font-size: 11px;
  font-size: 1.1rem;
  color: #000;
  font-weight: 600;
  margin-bottom: 8px;
  margin-bottom: .8rem;
  padding-bottom: 0; }
.bio-summary .bio-content .bio-title {
  font-size: 16px;
  font-size: 1.6rem; }
.bio-summary .bio-degrees,
.bio-summary .bio-email {
  font-size: 12px;
  font-size: 1.2rem;
  margin-bottom: 0;
  padding-bottom: 0; }
.bio-summary .bio-content .bio-degrees,
.bio-summary .bio-content .bio-email {
  font-size: 14px;
  font-size: 1.4rem; }

.entry .bio-staff-grid .bio-summary img.no-featured-image {
  padding-bottom: 6.166666666666667%; }

ul.gallery-terms {
  list-style: none;
  /*display: block;*/
  margin: 0 auto;
  /*margin-bottom: 40px;
  margin-bottom: 4rem;*/
  padding: 0;
  width: 100%;
  max-width: 800px;
  display: none; }
  ul.gallery-terms .gallery-term {
    display: inline-block;
    width: auto;
    background: none;
    color: #162342;
    margin: 0;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    margin-right: 20px;
    margin-right: 2rem; }
    ul.gallery-terms .gallery-term a {
      display: block;
      text-decoration: none;
      border: none;
      color: #162342;
      background: #ecedeb;
      padding-left: 10px;
      padding-left: 1rem;
      padding-right: 10px;
      padding-right: 1rem;
      margin: 0;
      border-radius: 5px; }
    ul.gallery-terms .gallery-term.active a,
    ul.gallery-terms .gallery-term a.active,
    ul.gallery-terms .gallery-term a:hover,
    ul.gallery-terms .gallery-term a:focus {
      background: #162342;
      color: #ecedeb;
      text-decoration: none;
      border: none; }

.site-inner .ajax-gallery-item {
  max-width: 48.717948717948715%; }
  .site-inner .ajax-gallery-item img {
    border: 3px solid #63513D;
    padding: 0;
    margin: 0; }
  .site-inner .ajax-gallery-item a,
  .site-inner .ajax-gallery-item a:hover,
  .site-inner .ajax-gallery-item a:focus {
    border: none;
    text-decoration: none; }

.publication-list-feature {
  max-width: 125px; }

.publications-entry .publication-category {
  display: block;
  padding: 1rem 0; }
  .publications-entry .publication-category a {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem; }

@media all and (min-width: 1139px) {
  .content {
    width: 100%; }

  .sidebar-primary {
    display: block;
    width: 225px;
    max-width: 225px;
    margin-bottom: 0;
    padding-bottom: 0; } }
@media all and (max-width: 1023px) {
  .content .entry,
  .archive .page-header,
  .blog .page-header,
  .post-type-archive .content {
    padding: 20px;
    padding: 2rem; } }
@media all and (max-width: 768px) {
  .content-sidebar-wrap,
  .content {
    flex-wrap: wrap; }

  .content {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }

  .content-sidebar-wrap .sidebar-primary {
    position: relative;
    display: block;
    z-index: 999; }

  #mobile-header {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0; }

  #mobile-header .left {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    order: 1; }

  #mobile-header .site-logo {
    margin: 0; }

  #mobile-header .right {
    text-align: right;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    order: 2;
    position: relative; }

  .sidebar-primary .front-top-sidebar,
  .sidebar-primary .front-bottom-sidebar {
    display: none; }

  #hamburger-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    background: white;
    padding: 36px; }

  #hamburger-menu.open {
    right: 0; } }
.thumbs-gallery .jscroll-added,
.thumbs-gallery .jscroll-inner {
  width: 100%;
  max-width: 100%; }

.thumbs-gallery .gallery-wrapper,
.thumbs-gallery .jscroll-inner,
.thumbs-gallery .jscroll-added .gallery-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  -ms-flex: 1 100%;
  flex: 1 100%; }

.thumbs-gallery .content .publications-entry {
  -ms-flex: 1 1 300px;
  flex: 1 1 300px;
  max-width: 350px; }

.thumbs-gallery .content .publication-list-entry-excerpt,
.thumbs-gallery .publication-list-entry-title,
.thumbs-gallery .publication-category,
.thumbs-gallery .publication-list-feature {
  display: none; }

.publication-thumb {
  display: none; }

.thumbs-gallery .publication-thumb {
  display: block;
  padding: 0;
  border: 1px solid #63513D;
  overflow: hidden;
  background-position: left top;
  background-size: cover;
  float: none;
  text-align: left; }

.thumbs-gallery .content .publication-thumb a {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 75%;
  position: relative;
  box-shadow: none;
  border: none; }
  .thumbs-gallery .content .publication-thumb a:hover, .thumbs-gallery .content .publication-thumb a:focus {
    background: none; }

.thumbs-gallery .publication-thumb a .publication-title {
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 5px;
  padding: 0.5rem;
  font-size: 15px;
  font-size: 1.5rem;
  color: #fff;
  background: #63513D;
  font-weight: 700;
  position: absolute;
  top: auto;
  bottom: -100%;
  left: 0;
  right: 0;
  display: block;
  -webkit-transition: bottom;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 500ms; }

.thumbs-gallery .publication-thumb a:hover .publication-title,
.thumbs-gallery .publication-thumb a:focus .publication-title {
  bottom: 0; }

.thumbs-gallery .archive-pagination {
  display: none; }

.content ul.publication-authors {
  margin-left: 0;
  padding-left: 0; }

.publication-authors li {
  display: inline-block;
  list-style: none; }

.publication-authors li:after {
  content: "\00a0"; }

/**
 * Table styles copied from original CHRT style sheet
 */
.content table,
.content .tablepress table {
  color: #000;
  border: none;
  margin: 0 0 1rem;
  padding: 0; }

.content table tr,
.content .tablepress table tr {
  border: none;
  border-bottom: 2px solid #fff;
  margin: 0;
  padding: 0; }

.content table tr:nth-child(even),
.content .tablepress table tr:nth-child(even) {
  background: none; }

.content table tr:nth-child(even):hover,
.content .tablepress table tr:nth-child(even):hover {
  background: rgba(183, 191, 16, 0.2); }

.content table tr:nth-child(odd),
.content .tablepress table tr:nth-child(odd) {
  background: rgba(99, 81, 61, 0.1); }

.content table tr:nth-child(odd):hover,
.content .tablepress table tr:nth-child(odd):hover {
  background: rgba(183, 191, 16, 0.2); }

.content table th, .content table td,
.content .tablepress table th,
.content .tablepress table td {
  background: none;
  padding: 5px 10px;
  padding: .5rem 1rem;
  margin: 0;
  border: none; }

.content table td:hover,
.content .tablepress table td:hover {
  background: rgba(99, 81, 61, 0.2); }

.content table th:hover,
.content .tablepress table th:hover {
  background: rgba(99, 81, 61, 0.8); }

.content table th, .content table thead td,
.content .tablepress table th,
.content .tablepress table thead td {
  text-transform: none;
  font-weight: 700;
  background: #63513D;
  color: #ffffff; }

.content table tfoot tr,
.content .tablepress table tfoot tr {
  background: #63513D;
  color: #ffffff; }

.content table .row-hover tr:hover td,
.content .tablepress table .row-hover tr:hover td {
  background: none; }

.tablepress-table-description {
  display: block;
  margin-bottom: 2.6rem;
  margin-bottom: 26px; }

body .site-inner table,
.tablepress {
  margin-bottom: 2.6rem;
  margin-bottom: 26px; }

body .site-inner table.gstl_51 {
  margin-bottom: 0; }

body .site-inner table thead tr,
body .site-inner table thead td,
body .site-inner table thead th,
.tablepress thead tr,
.tablepress thead td,
.tablepress thead th {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  background: #63513D;
  color: #ffffff; }

body .site-inner table tbody tr,
.tablepress tbody tr {
  background: rgba(183, 191, 16, 0.2); }

body .site-inner table tbody tr:nth-child(odd), body .site-inner table tbody tr.even,
.tablepress tbody tr:nth-child(odd),
.tablepress tbody tr.even {
  background: rgba(99, 81, 61, 0.1); }

body .site-inner table tbody tr td, body .site-inner table tbody tr.even td,
.tablepress tbody tr td,
.tablepress tbody tr.even td {
  background: none; }

th sup {
  text-transform: none; }

.tablepress-table-name {
  clear: both; }

.content .dataTables_wrapper .sorting:hover,
.content .dataTables_wrapper .sorting_asc,
.content .dataTables_wrapper .sorting_desc {
  background: none; }

@media all and (max-width: 500px) {
  table {
    display: block; }

  table tr {
    display: block; }

  table td, table th {
    display: list-item;
    list-style: none; } }
.page-template-template-policy-fellowship-php {
  /**
   * Special styles for the Policy Fellowship template
   */ }
  .page-template-template-policy-fellowship-php .site-inner {
    padding-top: 0; }
  .page-template-template-policy-fellowship-php .content table,
  .page-template-template-policy-fellowship-php .content .tablepress table {
    font-size: 14px;
    font-size: 1.4rem; }
    .page-template-template-policy-fellowship-php .content table .session-date,
    .page-template-template-policy-fellowship-php .content .tablepress table .session-date {
      white-space: nowrap; }
  .page-template-template-policy-fellowship-php .site-header > .wrap {
    padding-bottom: 0; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .site-inner {
    position: relative; }
    .page-template-template-policy-fellowship-php.sidebar-content-sidebar .site-inner .sidebar.sidebar-secondary {
      padding: 0 5%;
      padding-top: 190px;
      padding-top: 19rem;
      border-right: none;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .content {
    padding-left: 0; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .entry-header {
    padding-top: 100px;
    padding-top: 10rem;
    height: 150px;
    height: 15rem;
    margin-bottom: 40px;
    margin-bottom: 4rem;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    width: 100%; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .entry-title,
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .entry-content {
    padding-left: 5.714285714285714%;
    width: 100%; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .bio-list .alignleft {
    padding-right: 2rem; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .bio-list .bio-content {
    float: none;
    width: 100%;
    max-width: 100%;
    clear: none; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .bio-list .bio-meta {
    font-weight: 600; }
  .page-template-template-policy-fellowship-php .content {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center; }
  .page-template-template-policy-fellowship-php .chrt-inner-feature {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%; }
  .page-template-template-policy-fellowship-php .content .entry {
    -ms-flex: 2 0 50%;
    flex: 2 0 50%;
    order: 1;
    margin-left: 0;
    margin-right: 0; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .page-template-template-policy-fellowship-php .content .entry {
  float: left; }

.page-template-template-policy-fellowship-php .fellowship-sidebar {
  padding-top: 40px;
  padding-top: 4rem;
  float: right;
  margin: 0 0 20px 20px;
  margin: 0 0 2rem 2rem;
  max-width: 200px;
  max-width: 20rem;
  min-width: 200px;
  min-width: 20rem;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  order: 2;
  align-self: flex-start; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .widget-title {
    color: #63513D;
    font-size: 19px;
    font-size: 1.9rem;
    text-transform: none; }
    .page-template-template-policy-fellowship-php .fellowship-sidebar .widget-title a {
      text-decoration: none; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag {
    background: #63513D;
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    padding: 10px;
    padding: 1rem; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-1,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-5,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-9 {
    background: #B7312C; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-2,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-6,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-10 {
    background: #00274C; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-3,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-7,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-11 {
    background: #63513D; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-4,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-8,
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag-12 {
    background: #9E2A2B; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag .widget-title {
    margin: 0;
    padding: 0;
    color: #fff; }
  .page-template-template-policy-fellowship-php .fellowship-sidebar .flag a {
    color: #fff;
    background: none;
    border: none;
    border-bottom: 2px solid transparent;
    box-shadow: none; }
    .page-template-template-policy-fellowship-php .fellowship-sidebar .flag a:hover, .page-template-template-policy-fellowship-php .fellowship-sidebar .flag a:focus {
      border-bottom-color: #fff;
      box-shadow: none; }
@media all and (max-width: 1020px) {
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .site-inner,
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .entry-content {
    position: static;
    padding: 0; }
  .page-template-template-policy-fellowship-php.sidebar-content-sidebar .site-inner .sidebar.sidebar-secondary {
    position: static;
    padding: 10px;
    padding: 1rem; } }

.consulting-services-template .content {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center; }
  .consulting-services-template .content .entry {
    -ms-flex: 2 0 50%;
    flex: 2 0 50%;
    order: 1;
    margin-left: 0;
    margin-right: 0; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .consulting-services-template .content .entry {
  float: left; }

.consulting-sidebar {
  padding-top: 40px;
  padding-top: 4rem;
  float: right;
  margin: 0 0 20px 20px;
  margin: 0 0 2rem 2rem;
  max-width: 200px;
  max-width: 20rem;
  min-width: 200px;
  min-width: 20rem;
  -ms-flex: 1 0 200px;
  flex: 1 0 200px;
  order: 2;
  align-self: flex-start; }
  .consulting-sidebar .widget-title {
    color: #63513D;
    font-size: 19px;
    font-size: 1.9rem;
    text-transform: none; }
    .consulting-sidebar .widget-title a {
      text-decoration: none; }
  .consulting-sidebar .flag {
    background: #9abd3c;
    margin-top: 10px;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-bottom: 1rem;
    padding: 10px;
    padding: 1rem; }
    .consulting-sidebar .flag.flag-1, .consulting-sidebar .flag.flag-5, .consulting-sidebar .flag.flag-9 {
      background: #B7312C; }
    .consulting-sidebar .flag.flag-2, .consulting-sidebar .flag.flag-6, .consulting-sidebar .flag.flag-10 {
      background: #00274C; }
    .consulting-sidebar .flag.flag-3, .consulting-sidebar .flag.flag-7, .consulting-sidebar .flag.flag-11 {
      background: #63513D; }
    .consulting-sidebar .flag.flag-4, .consulting-sidebar .flag.flag-8, .consulting-sidebar .flag.flag-12 {
      background: #9E2A2B; }
    .consulting-sidebar .flag .widget-title {
      margin: 0;
      padding: 0;
      color: #fff; }
    .consulting-sidebar .flag a {
      color: #fff;
      background: none;
      border: none;
      border-bottom: 2px solid transparent;
      box-shadow: none; }
      .consulting-sidebar .flag a:hover, .consulting-sidebar .flag a:focus {
        border-bottom-color: #fff;
        box-shadow: none; }

.entry-categories {
  display: inline-block; }

.site-inner table.gstl_50 {
  margin-bottom: 0; }

.archive article,
.blog article,
.search-results .gsc-webResult.gsc-result,
.search-results .gsc-results .gsc-imageResult {
  border: 1px solid #63513D; }

.thumbs-gallery.archive article {
  border: none; }

.archive article:hover,
.blog article:hover,
.search-results .gsc-webResult.gsc-result:hover,
.search-results .gsc-results .gsc-imageResult:hover {
  background: rgba(183, 191, 16, 0.25); }

.thumbs-gallery.archive article:hover {
  background: none; }

.gallery-terms {
  display: none; }

.jscroll-inner .archive-pagination {
  display: none; }

.section-title,
.archive-header,
.single-news .entry-meta {
  display: none; }

.content ul,
.content ol {
  margin-left: 12px;
  margin-left: 1.2rem;
  padding-left: 12px;
  padding-left: 1.2rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

#thumbs-link {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  text-indent: -99999rem;
  margin: 0;
  padding: 0; }

#list-top-link {
  position: fixed;
  bottom: 12px;
  right: 12px;
  display: block;
  padding: 8px 12px;
  background: #63513D;
  color: #DBE442;
  border: 1px solid #DBE442;
  border-radius: 24px;
  box-shadow: none; }

#list-top-link:hover,
#list-top-link:focus {
  color: #63513D;
  border: 1px solid #63513D;
  background: #DBE442;
  box-shadow: none; }

.entry-content .buttons-row {
  max-width: 100%;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch; }

.entry-content .buttons-row a {
  display: block;
  background: #000;
  color: #fff;
  width: 25%;
  -ms-flex: 1 1 175px;
  flex: 1 1 175px;
  min-width: 175px;
  vertical-align: top;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 120%; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .entry-content .buttons-row {
  display: table-row;
  vertical-align: top; }

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .entry-content .buttons-row a {
  display: table-cell; }

.entry-content .buttons-row a.first-of-type {
  background: #00274C; }

.entry-content .buttons-row a.first-of-type:hover,
.entry-content .buttons-row a.first-of-type:focus {
  color: #00274C; }

.entry-content .buttons-row a:nth-of-type(4n+1) {
  background: #00274C; }

.entry-content .buttons-row a:nth-of-type(4n+1):hover,
.entry-content .buttons-row a:nth-of-type(4n+1):focus {
  color: #00274C; }

.entry-content .buttons-row a.second-of-type {
  background: #9E2A2B; }

.entry-content .buttons-row a.second-of-type:hover,
.entry-content .buttons-row a.second-of-type:focus {
  color: #9E2A2B; }

.entry-content .buttons-row a:nth-of-type(4n+2) {
  background: #9E2A2B; }

.entry-content .buttons-row a:nth-of-type(4n+2):hover,
.entry-content .buttons-row a:nth-of-type(4n+2):focus {
  color: #9E2A2B; }

.entry-content .buttons-row a.third-of-type {
  background: #63513D; }

.entry-content .buttons-row a.third-of-type:hover,
.entry-content .buttons-row a.third-of-type:focus {
  color: #63513D; }

.entry-content .buttons-row a:nth-of-type(4n+3) {
  background: #63513D; }

.entry-content .buttons-row a:nth-of-type(4n+3):hover,
.entry-content .buttons-row a:nth-of-type(4n+3):focus {
  color: #63513D; }

.entry-content .buttons-row a.fourth-of-type {
  background: #B7312C; }

.entry-content .buttons-row a.fourth-of-type:hover,
.entry-content .buttons-row a.fourth-of-type:focus {
  color: #B7312C; }

.entry-content .buttons-row a:nth-of-type(4n+4) {
  background: #B7312C; }

.entry-content .buttons-row a:nth-of-type(4n+4):hover,
.entry-content .buttons-row a:nth-of-type(4n+4):focus {
  color: #B7312C; }

.entry-content .buttons-row a {
  border: none;
  box-shadow: none; }
  .entry-content .buttons-row a:hover, .entry-content .buttons-row a:focus {
    border: none;
    box-shadow: none;
    background: #fff; }

/**
 * Footnote styles
 */
.footnotes-content {
  width: 75%;
  margin: 0 auto;
  font-size: 75%;
  border-top: 1px solid #63513D;
  margin-top: 20px;
  margin-top: 2rem;
  padding-top: 20px;
  padding-top: 2rem; }

.single-inline-footnote {
  background: #ecedeb;
  color: #000;
  border-radius: 5px;
  float: right;
  clear: right;
  display: block;
  padding: 10px;
  padding: 1rem;
  margin: 0;
  margin-left: 10px;
  margin-left: 1rem;
  margin-bottom: 10px;
  margin-bottom: 1rem;
  width: 40%;
  font-size: 75%; }

.single-inline-footnote.active {
  background: #162342;
  color: #fff; }

.single-inline-footnote.active a:link, .single-inline-footnote.active a:visited, .single-inline-footnote.active a:hover, .single-inline-footnote.active a:focus {
  color: #fff; }

.footnote-link {
  display: inline-block;
  font-size: 75%;
  vertical-align: top; }

li.single-footnote.ui-dialog-content {
  list-style: none; }

.search-results .gsc-control-cse {
  background: none;
  font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif; }

.search-results .gs-title {
  font-family: Arial, sans-serif; }

.search-results .gsc-adBlockNoHeight,
.search-results .gsc-resultsHeader {
  display: none; }

body.search-results .site-inner table tbody tr:nth-child(odd),
body.search-results .site-inner table tbody tr.even {
  background: none; }

body.search-results .site-inner table {
  margin-bottom: 0; }

.search-results .gsc-above-wrapper-area,
.search-results .gsc-above-wrapper-area tr,
.search-results .content table tr,
.search-results .content .tablepress table tr,
.search-results tbody,
.search-results .cse .gsc-control-cse,
.search-results .gsc-control-cse {
  border: none; }

.search-results .gsc-webResult.gsc-result,
.search-results .gsc-results .gsc-imageResult {
  border-radius: 3px;
  margin-bottom: 40px;
  margin-bottom: 4rem;
  padding: 40px 40px 24px;
  padding: 4rem 4rem 2.4rem; }

.search-results a.gs-title,
.search-results .gs-webResult.gs-result a.gs-title:link,
.search-results .gs-webResult.gs-result a.gs-title:link b,
.search-results .gs-imageResult a.gs-title:link,
.search-results .gs-imageResult a.gs-title:link b,
.search-results .gs-webResult.gs-result a.gs-title:visited,
.search-results .gs-webResult.gs-result a.gs-title:visited b,
.search-results .gs-imageResult a.gs-title:visited,
.search-results .gs-imageResult a.gs-title:visited b {
  color: #000;
  text-decoration: none; }

.search-results a.gs-title:hover,
.search-results a.gs-title:focus,
.search-results .gs-webResult.gs-result a.gs-title:hover,
.search-results .gs-webResult.gs-result a.gs-title:focus,
.search-results .gs-webResult.gs-result a.gs-title:hover b,
.search-results .gs-webResult.gs-result a.gs-title:focus b,
.search-results .gs-imageResult a.gs-title:hover,
.search-results .gs-imageResult a.gs-title:focus,
.search-results .gs-imageResult a.gs-title:hover b,
.search-results .gs-imageResult a.gs-title:focus b {
  text-decoration: underline; }

.search-results .gsc-result .gs-title {
  height: auto; }

.search-results .gsc-cursor-box.gs-bidi-start-align {
  width: 100%;
  font-size: 14px;
  font-size: 1.4rem;
  margin: 40px auto;
  margin: 4rem auto;
  max-width: 800px;
  max-width: 80rem; }

.search-results .gsc-cursor-box.gs-bidi-start-align .gsc-cursor {
  margin-left: 12px;
  margin-left: 1.2rem;
  padding-left: 12px;
  padding-left: 1.2rem;
  margin-bottom: 24px;
  margin-bottom: 2.4rem; }

.search-results .gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page {
  background-color: #63513D;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 8px 12px;
  padding: 0.8rem 1.2rem;
  text-decoration: none; }

.search-results .gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page,
.search-results .gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page:hover,
.search-results .gsc-cursor-box.gs-bidi-start-align .gsc-cursor .gsc-cursor-page:focus {
  background-color: #f15123; }

.search-results .gs-webResult div.gs-visibleUrl,
.search-results .gs-imageResult div.gs-visibleUrl {
  color: #999; }

.jscroll-loading-wrap {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block; }

.jscroll-loading {
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 27.5px;
  padding: 1rem 2.75rem;
  border: 1px solid #DBE442;
  color: #DBE442;
  background: #63513D;
  text-decoration: none;
  margin: auto;
  animation: jscroll-blink 1s steps(1) infinite;
  -webkit-animation: jscroll-blink 1s steps(1) infinite; }

@keyframes jscroll-blink {
  50% {
    color: #63513D; } }
@-webkit-keyframes jscroll-blink {
  50% {
    color: #63513D; } }
.content .entry blockquote,
.content .archive-intro blockquote {
  color: #63513D; }

.content .entry blockquote:before,
.content .archive-intro blockquote:before {
  color: #63513D;
  font-size: 50px;
  font-size: 5rem;
  left: -30px;
  top: -30px;
  font-family: "Sentinel A", "Sentinel B", "Times New Roman", serif; }

.simple-social-icons ul li a,
.simple-social-icons ul li a:hover,
.simple-social-icons ul li a:focus {
  box-shadow: none; }

/*# sourceMappingURL=chrt-2018.css.map */
